.welcomeSplashContainer {
}

.welcomeSplashBackground {
  background-image: url("https://images.unsplash.com/photo-1604702686571-f03d002a7c53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1976&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: auto;
  left: 0;
  right: 0;
}
.welcomeSplashBackground span {
  display: flex;
  justify-content: center;
  padding-top: 50%;
}
.welcomeBanner {
  font-size: 5rem;
  margin-top: auto;
  margin-bottom: auto;
  filter: blur(0);
  z-index: 2;
  position: relative;
  text-transform: uppercase;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.192);
}

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #373f51;
}

.textBlock-title {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.textBlock-description {
  display: flex;
  justify-content: center;
}

.upperBlock {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.lowerBlock {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.lowerBlock img {
  /* height: 50%; */
}
