.groupPageContainer {
  background-color: #373f51;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.groupPageBackground:before {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
}
.groupPageBackground {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(4px); */
}

.groupPageTitle {
  text-decoration: underline;
}
.groupPageHost {
}
.groupPagePlaystyle {
}
.groupPageDescription {
}
.groupPageCalendar {
}

/* delete button */

.btn {
  outline: none;
  display: block;
  border: solid 1px red;
  color: red;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 30px;
  background: #373f51;
  cursor: pointer;
  transition: all 0.3s linear;
  margin: 5px;
}

.btn:focus {
  background-color: red;
  color: #373f51;
}

.btn:active {
  background: #373f51;
  color: red;
  border: solid 1px red;
}

.btn:hover {
  background-color: red;
  color: #373f51;
}

/* edit button */

.editBtn {
  outline: none;
  display: block;
  border: solid 1px green;
  color: green;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 30px;
  background: #373f51;
  cursor: pointer;
  transition: all 0.3s linear;
  margin: 5px;
}

.editBtn:focus {
  background-color: green;
  color: #373f51;
}

.editBtn:active {
  background: #373f51;
  color: green;
  border: solid 1px green;
}

.editBtn:hover {
  background-color: green;
  color: white;
}

/* upcomingRound-addRoundButton */

.upcomingRound-addRoundButton p {
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 30px;
  border: solid 1px blue;
  display: flex;
  justify-content: space-around;
  color: blue;
  background: #373f51;
  transition: all 0.3s linear;
}

.upcomingRound-addRoundButton p:hover {
  background-color: blue;
  color: white;
}

.upcomingRound-addRoundButton p:focus {
  background-color: blue;
  color: #373f51;
}

.upcomingRound-addRoundButton p:active {
  background: #373f51;
  color: blue;
  border: solid 1px blue;
}

/* modals */

.groupPage-modals {
  display: grid;
  grid-template-columns: auto auto;
  grid-tempplate-rows: auto;
}
