/* TODO Add site wide styles */

/* color PALETTE:
text: #FEFEE3;
Div: #373F51
Background color: #001B2E;
Navbar reg: #2C6E49
Navbar hover: #4C956C
*/

body {
  background-color: #00212e;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
