/* cancel button */

form {
    margin: 0;
}

.updateGroup-banner h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: seagreen;
    margin: 0;
}

.btn-cancel {
    text-transform: uppercase;
    outline: none;
    display: block;
    border: solid 1px red;
    color: red;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 30px;
    background: #373f51;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 5px;
  }
  
  .btn-cancel:focus {
    background-color: red;
    color: #373f51;
  }
  
  .btn-cancel:active {
    background: #373f51;
    color: red;
    border: solid 1px red;
  }
  
  .btn-cancel:hover {
    background-color: red;
    color: #373f51;
  }

  /* submit button */
  .btn-submit {
    text-transform: uppercase;
    outline: none;
    display: block;
    border: solid 1px green;
    color: green;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 30px;
    background: #373f51;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 5px;
  }
  
  .btn-submit:focus {
    background-color: green;
    color: #373f51;
  }
  
  .btn-submit:active {
    background: #373f51;
    color: green;
    border: solid 1px green;
  }
  
  .btn-submit:hover {
    background-color: green;
    color: white;
  }
