/* Cards */

a {
  text-decoration: none;
}

.addGroupBtn p {
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 30px;
  border: solid 1px blue;
  display: flex;
  animation: ease-in-out;
  justify-content: space-around;
  color: white;
  background: blue;
  transition: all 0.3s linear;
}

.addGroupBtn p:hover {
  background: none;
  color: blue;
}

.addGroupBtn p:focus {
  background: none;
  color: blue;
}

.addGroupBtn p:active {
  background: #373f51;
  color: blue;
  border: solid 1px blue;
}

.groupContainer {
  width: 75%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 15px;
}

.cardContainer {
  width: 600px;
  overflow: hidden;
  background-color: #373f51;
  margin: 10px;
  transition: 0.4s;
  animation: ease-in-out;
}

.cardContainer:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px -5px black;
}

.imageContainer img {
  overflow: hidden;
  height: 450px;
  transition: 0.4s;
  animation: ease-in-out;
}

.cardContainer:hover .imageContainer img {
  filter: blur(4px);
}

.cardTitle {
  margin-top: 0.25rem;
  padding: 0%;
  display: flex;
  justify-content: center;
}

.cardSubTitle {
  display: flex;
  justify-content: center;
}

.cardDescription {
  display: flex;
  justify-content: center;
}

.cardBtn a{
  text-decoration: none;
}

.cardBtn p {
  outline: none;
  border: solid 1px green;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 30px;
  background: green;
  cursor: pointer;
  transition: all 0.3s linear;
  margin: 5px;
  text-decoration: none;
  transition: 0.4s;
  animation: ease-in-out;
  display: flex;
  justify-content: center;
}

.cardBtn:hover p {
  background-color: #373f51;
  color: green;
}
